
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Environment files
src/config/.env
src/config/.env.qa
src/config/.env.uat

# Logs
src/logging/*.log